# Created by https://www.toptal.com/developers/gitignore/api/visualstudio
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudio

### VisualStudio ###
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
# Visual Studio 2017 cache/options directory
.vs/
# Visual Studio 2019 cache/options directory
.vs/
# Visual Studio 2022 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-agent_*.log
nunit-console_*.log

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
[Uu]nicode [Dd]ebug/
[Uu]nicode [Rr]elease/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Dotnet Core packages folder
.nuget/
# Cache files for modular projects from Rider
.idea/.idea.*/.idea/shelf

# symbol package extraction
*.symbols.nupkg

# FxCop
*.CodeAnalysisLog.xml

# ReSharper is a Visual Studio extension
_ReSharper*/
*.[Rr]e[Ss]harper
[Rr]e[Ss]harper*.DotSettings.user

# JustCode is a Visual Studio extension
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a Code Coverage Tool
coverage.cobertura.xml
coverage.json

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Installshield output folder
[Ii]nstall/

# Glimpse
Glimpse.axd

# Report-Designer
*.rdl.data

# Boo-generated files
*.boo.castle.js

# Umbraco
**/App_Data/TEMP/
**/App_Data/umbraco.config
**/App_Data/logs/

# Reflector files
*.pdb.il

# Telerik's JustMock configuration file
*.jmconfig

# RemSharper settings
*.sln.iml

# Docker
docker-compose.yml
docker-compose.*.yml
.dockerignore